# PHP Storm
.idea/

# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
babel/node_modules/
babel-html/node_modules/
babel-html-css/node_modules/
babel-html-css-server/node_modules/
babel-html-scss-server/node_modules/
babel-html-scss-server-clean/node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


